{
  "semi": false,
  "singleQuote": false,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "prettier.printWidth": 80,
  "prettier.tabWidth": 4,
  "prettier.useTabs": true,
  "prettier.bracketSpacing": false,
  "prettier.useEditorConfig": false
}
