:root {
  box-sizing: border-box;
  --main-color: #1e1e20;
  --main-color-light: #222324;
  --main-color-medium: #484848;
  --main-color-border: #292a2b;
  --main-color-blue: #3f9bbe;
  --main-color-blue-dark: #34809e;
  --text-color-dark: #6c6f73;
  --delete-color: #ff7e7e;
  --delete-color-hover: #fa6a6a;
  --border-radius: 2em;
  --border-radius-card: 1em;
  --box-shadow: -1px 11px 46px 1px rgb(0 0 0 / 48%);
  --box-shadow-light: -1px 11px 46px 1px rgb(0 0 0 / 18%);
  --font-size-large: 3em;
  --font-size-header: 1em;
  --font-size-main: 0.7em;
  --font-size-small: 0.5em;

  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
